/.idea
.env
*.pyc
*.sql
dummy_data.txt
reset_db.py
backend/app/test_keys.py
backend/app/create_user.py
backend/app/test_keys.py
backend/app/create_user.py
frontend/api.js
frontend/app/(tabs)/index.tsx
frontend/api.tsx
frontend/constants/Config.ts
